deepstream-app
*o
*.swp
*.swo


# Applications
*.app
*.exe
*.war
.cache
.config
.dbus
.local
# Large media files
*.mp4
*.tiff
*.avi
*.h264
*.flv
*.mov
*.wmv

code/app/deepstream-app
code/app/*.o
code/sample_apps  
code/test  
code/tutorial 
code/app-test1
